@model List<WeddingModel>
<h1>Welcome to the Wedding Planner</h1>
<h3>Welcome @ViewBag.idUser<span class="logoutlink"><a href="logout">Logout</a></span></h3>
<div class="content">
    <table class="wedding_table">
        <tr>
            <th>Wedding</th>
            <th>Date</th>
            <th>Guests</th>
            <th>Action</th>
        </tr>
        @foreach(WeddingModel w in @Model) 
        {
            <tr>
                <td><a href="/details/@w.WeddingId">@w.WedderOne & @w.WedderTwo</a></td>
                <td>@w.Date.ToString("MMM dd, yyyy")</td>
                <td>@w.Guests.Count</td>
                    @if (@w.RegisterUserId == @ViewBag.idUser)
                    {
                        <td><a href="/delete/@w.WeddingId">Delete</a></td>
                    }
                    else if(@w.Guests.Any(association => association.RegisterUserId == @ViewBag.idUser))
                    {
                        <td><a href="/unrsvp/@w.WeddingId">Un-RSVP</a></td>
                    }
                    else
                    {
                        <td><a href="/rsvp/@w.WeddingId">RSVP</a></td>
                    }
            </tr>
        }
    </table>


<a id="link" href="/create">New Wedding!</a>
</div>

<style>
.content{
    align-content: center;
    height: 500px;
    width: 100%;
    border: 2px solid black;
}
.wedding_table{
    margin-top: 50px;
    margin-left: 80px;
    align-content: center;
    outline: 2px solid black;
}
.wedding_table td{
    outline: 2px solid black;
    width: 200px;
    align-content: center;
}
.wedding_table tr{
    width: 200px;
    text-align: center;
}
.logoutlink{
    font-size: 20px;
    margin-left: 75%;
}
#link{
margin-left: 50%;
}
</style>